<div class="container">
  <form class="login-form">
    <div> Login Account </div>
    <br>
    <!-- Login form fields -->
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" name="email" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" name="password" type="password" required>
    </mat-form-field>
    <br>
    <mat-error *ngIf="loginError"> Invalid email/password</mat-error>

    <br>
    <div>
      <button mat-raised-button color="primary" type="submit" (click)="logIn()">Login</button>

      <!-- Forgot password link -->
      <a mat-button href="#" (click)="onForgotPassword()">Forgot Password?</a>
    </div>

    <br>

    <!-- Register button -->
    <button mat-raised-button color="primary" (click)="logIn()" routerLink="/register">Register</button>
  </form>
</div>
