<div class="container">
    <form class="register-form">
    <div> 
        <h1> Register Account </h1>
    </div>
    <br>
    <!-- Name -->
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="user.name" name="name" required>
    </mat-form-field>
  
    <br>
  
    <!-- Email Address -->
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput [(ngModel)]="user.email" name="email" type="email" required>
    </mat-form-field>
  
    <br>
  
    <!-- Password -->
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="user.password" name="password" type="password" required>
    </mat-form-field>
  
    <br>
  
    <!-- Confirm Password -->
    <mat-form-field appearance="fill">
      <mat-label>Confirm Password</mat-label>
      <input matInput [(ngModel)]="user.confirmPassword" name="confirmPassword" type="password" required>
    </mat-form-field>
  
    <br>
  
    <div>
      <button mat-raised-button color="primary" type="submit" (click)="register()">Register</button>
    </div>
  </form>
</div>
  
